

    
<!-- ******************************************************************************************** -->
<!DOCTYPE html>
<html lang="en">
    <h3 class="font-italic" style="margin-left: 170px; margin-top: 15px; color:darkslateblue;">Liste des Produits</h3>
    <input class="form-control" type="search"  placeholder="Search" aria-label="Search" style="margin-left: 700px; width: 200px; margin-top: -40px;"
    [(ngModel)]="texte" >
   
<body style="margin-top: 10px;">
    <app-sidebar></app-sidebar>
    <div class="card-group" style="margin-left: -290px;">
       
        <div *ngFor="let p of produitF |sort| paginate : {itemsPerPage: 5, currentPage: p}" class="col-md3 my-2">
            <div class="card" style="width: 15rem; height: 30rem;">
                <img  class="card-img-top" src="{{p.photo}}" >
                <div class="card-body">
                    <h5 class="card-title" >{{p.nom|piipe:"":"-"}}</h5>
                    <h6>{{p.prix}} DT</h6>
                    <h6 [ngStyle]="{color:'green'}" *ngIf="p.quantite>0;else rouge">{{p.quantite}} </h6>
                    <div class="card-footer">
                        <small class="text-muted">{{p.categorie.nom}}</small>
                      </div>
                      <p style="margin-top: 10px; margin-left: 40px;">
                        <a routerLink="/delet"  class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </a>
                   
                  <a routerLink="/modifier"  class="btn btn-warning">
                    <span class="fa fa-edit"></span>
                </a>
                <a routerLink="/detail/{{p.id}}"  class="btn btn-info">
                    <span class="fa fa-info"></span>
                </a>
                </div>
                
            </div>

        </div>
    </div>
    <div class="pagination" style="margin-top: 5px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    
</body>
</html>





           
    
    <ng-template #rouge><span style="color: red"> Hors stock</span></ng-template>


  <!-- ************************************************************************************************************ -->

 
