<div>
    <section id="container">

  <aside style="margin-left: -300px;" >
    
    <div> 
      
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a><img src=""     class="img-circle" width="90" routerLink ="/profil"></a>
          <a><img src="" class="img-circle" width="100" routerLink ="/profil" ></a></p>
  
         <li class="mt">
          <a routerLink ="/home" >
            <i class="fa fa-globe"></i>
            <span>Retourner au Site</span>
            </a>
        </li> 
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-list"></i>
            <span routerLink ="/products">Tous Les Produits
            </span>
            <span class="dcjq-icon"></span></a>
    
        </li>
        <li class="sub-menu dcjq-parent-li"  routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            <span routerLink="/products"> Informatique
            </span>
            <span class="dcjq-icon"></span></a>
    
        </li>
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <span routerLink="/products"> Electromenager
            </span>
            <span class="dcjq-icon"></span></a>
    
        </li>
  
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-phone"></i>
            <span routerLink="/products/{e.categorie.nom}">Téléphonique
            </span>
            <span class="dcjq-icon"></span></a>
        </li>
 
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  

  