
<div class="container pt-10" style="margin-top:2%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10">
        <div class="col ml-3">
           
        <div style="margin-left: -250px;">
            <p class="text-start" style="margin-top: 100px;">
              <span style="font-size: 20pt;"
                ><strong style="color: darkturquoise;">Online IT</strong> Spécialiste de la commercialisation des produits High-Tech en Tunisie, Online It met à votre Disposition les meilleurs gammes des Matériels Informatiques , Electroménagers et Téléphonique </span
              ><br />
              
            </p>
          </div> 
         </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/images/home.png" width="690" height="530" style="margin-top: 0.5%;" />
      </div>
    </div>
  </div>