

              <h5 style="margin-left: 250px;margin-top: 20px; color: blueviolet;">Détail d'un Produit</h5>
              <div>
             
                
                <div style="margin-top: 50px;margin-left: -390px;"> 
                <table border="1" class="table table-light" style="width: 80%; margin: auto;">
                    <thead>
                        <tr>
                            <td scope="col"><button (click)="afficher"  class="btn btn-danger">{{valeurB}}</button></td>
                            <td scope="col">ID</td>
                            <td scope="col">Nom</td>
                            <td scope="col">Prix</td>
                            <td scope="col">Qté</td>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" style="color: rgb(17, 16, 16);"><img *ngIf="valeurB=='masquer'" src={{produit.photo}} width="100" height="100"></td>
                            <td scope="row" style="color: rgb(15, 15, 15);">{{produit.id}}</td>
                            <td scope="row" style="color: rgb(24, 23, 23);">{{produit.nom  | uppercase}}</td>
                            <td scope="row" style="color: rgb(32, 30, 30);">{{produit.prix | currency:'TND ':'symbol':'2.2-2'}}</td>
                            <td scope="row" style="color: rgb(37, 35, 35);">{{produit.quantite}}</td>
                            
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
                
                <ng-template #vide> <h2 style="color: red;">Tableau vide </h2></ng-template>
            
    

