<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{produit.photo}}" class="rounded-circle" width="200">
                    <div class="mt-3">
                      <h4></h4>
                      <p class="text-secondary mb-1"></p>
                      <p class="text-muted font-size-sm"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
          </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom du Produit :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      
                        {{produit.nom}}
            
                    
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prix :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{produit.prix}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Description :</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Catégorie :</h6>
                    </div>
                    {{produit.categorie}}
                  </div>
                  <hr>
                  <!-- <div class="row">
                    <div class="col-sm-12">
                       <a class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 200px;" href="demandeconge">Ask for a vacation</a>
                    </div>
                  </div> -->
                </div>
              </div>

              
           
    

